{% extends "base.html" %}
{% block title %}Edit Task - To-Do List{% endblock %}

{% block content %}
    <div style="background-color: rgb(142, 53, 214);" class="mt-5 rounded w-75 m-auto">
        <h1 class="text-center text-white p-1 mb-4">Edit Task</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Task Title</th>
                    <th scope="col">Task Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="text" name="taskTitle" value="{{ task.taskTitle }}"><br></td>
                    <td><input type="text" name="taskDescription" value="{{ task.taskDescription }}"></input><br></td>
                    <td>
                        <label for="is_completed">Completed:</label>
                        <input type="checkbox" name="is_completed" {% if task.is_completed %}checked{% endif %}><br>
                    </td>
                    <td>
                        <input class="btn btn-primary btn-sm" type="submit" value="Save">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock content %}